/* #Card.Img{ */
  /* width: 65%; */
  /* border-radius: 50%; */
  /* margin: 0 auto; */
  /* box-shadow: 0 0 10px rgba(0,0,0,.2); */
/* } */

.petCard {
  padding: 5px;
  background-color: rgb(159, 209, 206);
  /* color: aliceblue; */
  
}

.background {
  /* background-color: #FCF7F8; */
  width: 1024px;
  margin: auto;
  background-color: #5F9EA0;
  height: '100vh';
}



.petCardContainer {
  width: 900px;
  /* margin: auto; */
}

.petCardContainerOutside {
  margin: auto;
  width: 90%;
  position: relative;
  bottom: 430px;
  left: 25px;
  /* background-color: blue; */
  /* border: #000000 3px solid; */
}

.userInfo {
  float: left;
  /* border: #000000 3px solid; */
  /* width: 400px; */
  position: relative;
  right: 400px;
  margin: 20px;
  margin-top: 20px;
}

.onButton {
  display: inline-block;
  /* background-color: #000000; */
  margin: 10px;
}

.currentPetsHeader {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  top: 15px;
  border: #212525 solid 2px;
  /* padding: 50px */
}
