.aboutUs {
  width: 1024px;
  margin: auto;
  background-color: #5F9EA0;
  height: 1124px;
}

.header {
  position: relative;
  top: 10px;
  /* font-size: x-large; */
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-image: linear-gradient(to right, #5F9EA0, #D4AF37, #5F9EA0);
}

.Header {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  text-decoration: underline;
  text-shadow:1px 1px #D4AF37;
}

.heatherBio {
  position: relative;
  bottom: 820px;
  width: 1024;
  height: 270px;
  /* border: red solid 2px; */
}

.charlieBio {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  bottom: 780px;
  width: 1024;
  height: 270px;
  /* border: red solid 2px; */
}

.markBio {
  position: relative;
  bottom: 770px;
  width: 1024;
  height: 270px;
  /* border: red solid 2px; */
}

.heather {
  width: 300px;
  position: relative;
  bottom: 70px;
  right: 350px;
  float: left;
  margin: 5px;
}
.charlie {
  width: 300px;
  position: relative;
  right: 660px;
  top: 350px;
  float: left;
  margin: 5px;
}
.mark {
  width: 300px;
  position: relative;
  right: 350px;
  top: 175px;
  float: left;
  margin: 5px;
}
.heatherPet {
  margin: 5px;
  width: 300px;
  position: relative;
  left: 445px;
  bottom: 70px;
  right: 0;
  float: inline-end;
}
.charliePet {
  margin: 5px;
  width: 300px;
  position: relative;
  left: 755px;
  top: -145px;
  /* float: right; */
}
.markPet {
  margin: 5px;
  width: 300px;
  position: relative;
  left: 445px;
  top: 200px;
  right: 0;
  /* float: right; */
}

.bio {
  /* width: 224px; */
  /* margin-left: 300px; */
  /* overflow: auto; */
  /* height: 200px; */
  padding: 20px;
  background-image: linear-gradient(to bottom, #5F9EA0, #D4AF37, #5F9EA0);
}

.iconsHeather {
  margin-left: 230px;
}
.iconsCharlie {
  margin-left: 210px;
}
.iconsMark {
  margin-left: 205px;
}

.githubIcon {
  color: black;
  /* text-shadow:1px 1px #D4AF37; */
  text-decoration: none;
}


