.NavRoutes {
	height: 100%;
	width: 25%;
	/* position: fixed; */
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #D4AF37;
	transition: 0.5s ease;
	overflow-x: hidden;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
  float: right;
}

.exitNav {
	position: relative; 
	left: 140px;
}

.navLink {
	text-decoration: none;
	font-size: 2em;
	color: rgb(0, 0, 0);
}

.navListLi {
	list-style: none;
	margin-top: 30px;
}
