.lostOrFoundWrapper {
  text-align: center;
  height: '100vh'
}

.petCards {
  /* margin-top: 50%; */
  text-align: center;
  /* width: 70%; */
  margin-left: 20%;
  margin-right: 15%;
  border: red solid 4px
}
