.lostOrFoundWrapper {
  text-align: center;
  min-height: 900px;
  background-color: #5F9EA0;
  width: 1024px;
  margin: auto;

}

.petCards {
  /* margin-top: 50%; */
  text-align: center;
  /* width: 70%; */
  margin-left: 20%;
  margin-right: 15%;
  /* border: red solid 4px */
}
